<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelExecutionSuite" parallel="tests" thread-count="2">

  <test name="Test1"  thread-count="1">
    
    <classes>
      <class name="test.TestLog_A" />
    </classes>
  </test>

  <test name="Test2"  thread-count="1">
    
    <classes>
      <class name="test.TestLog_B" />
    </classes>
  </test>

</suite>
